.app-header{
    height: 4.438rem;
    padding: 0 1.25rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    line-height: 4.438rem;
    vertical-align: middle;

    h4{
        margin-bottom: 0;
    }
    .logo-icon{
        margin: 0 7px 3px 0;
        vertical-align: middle;
        width: 1.3em;
        height: 1.3em;
    }
    .defautl-header{
        .default-header-icon{
            position: absolute;
            top: 0.3rem;
            right: 1rem;
            svg{
                width: 1em;
                height: 1em;
                margin-right: 1rem;
                fill: #555555;
                cursor: pointer;
            }
        }
    }
    .header-icons{
        position: absolute;
        top: 0.3rem;
        right: 1rem;
        svg{
            width: 1em;
            height: 1em;
            margin-right: 1rem;
            fill: #555555;
            cursor: pointer;
        }
        .notify-icon{
            .notify-number{
                position: absolute;
                top: 13px;
                left: 55px;
                font-size: 0.6rem;
                background-color: red;
                height: 13px;
                color: white;
                line-height: 14px;
                border-radius: 11px;
                width: 13px;
                padding-left: 3px;
            }
        }
    }
}
.notify-menu, .my-setting-menu, .my-lang-menu{
    top: 35px !important;
}
.notify-menu li, .my-setting-menu li, .my-lang-menu li{
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.notify-menu{
    left: -50px !important;
}