.button-group{
    button:hover{
        background-color: #5480e6;
        border-color: #000452;
        color: white;
    }
    .hight-light-btn{
        background-color: #385bab;
        color: white;
    }
}